.toolbar-background-md{
		background-color:#0085cf;
	}

.toolbar-title-md {
  color: #ffffff;
}
.bar-buttons-md{
	color:#fff;
}
.content-md{
	background-color:#f4f4f4;
}
.contenido-largo{
	background-color:  #fff;
    padding: 7px;
    text-align:  justify;
}
.tabs-md .tabbar {
  background: #363B3F;
}
.tab-button-text {
  color:#fff;
}
.tabs-md .tab-button-icon{
  color:#fff;
}
.back-button.show-back-button {
  color:#fff;
}
.btn-aspa{
  color: #fff;
  font-weight: bold;
  padding-right: 10px;
}
.item-body{
  padding:15px;
}